@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.rfm-marquee,
.rfm-initial-child-container {
  gap: 30px !important;
}
